@model LollyASPMVC.Models.LollyViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Lolly";
}

@section styles {
    <link href="@Url.Content("~/Styles/lolly.css")" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm("Search", "Lolly", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="col-sm-1 control-label" for='SelectedLangID'>Language:</label>
        <div class="col-sm-3">
            @Html.DropDownListFor(m => m.SelectedLangID, Model.LangList, new { @class = "form-control" })
        </div>
        <label class="col-sm-1 control-label" for='SelectedDictName'>Dictionary:</label>
        <div class="col-sm-3">
            @Html.DropDownListFor(m => m.SelectedDictName, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label" for='Word'>Word:</label>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.Word, new { @class = "form-control" })
        </div>
        <input type="submit" class="btn btn-primary" value='Search' id='search' />
        <input type="submit" class="btn btn-primary" value='Search(redirect)' id='redirectSearch' />
        <div class="col-sm-3 error vcenter" id='wordError'></div>
    </div>
}
<iframe id='dictframe'></iframe>

@section scripts {
<script type="text/javascript">
    var $lang = $('#SelectedLangID');
    var $dict = $('#SelectedDictName');
    $lang.change(function() {
        $.post('@Url.Action("DictList")', $('form').serialize(), function(response) {
            $dict.empty();
            $.each(response, function (index, dict) {
                $dict.append($('<option/>', { text: dict }));
            });
        });
    });
    $lang.change();
    var redirectSearch = false;
    $('#search').click(function() { redirectSearch = false; });
    $('#redirectSearch').click(function() { redirectSearch = true; });
    $('form').submit(function() {
        if(redirectSearch) return;
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "@Url.Action("UrlByWord")",
            data: $('form').serialize(),
            success: function(response) {
                $('#wordError').empty();
                $('#dictframe').attr('src', response);
            },
            error: function(response) {
                //alert(JSON.stringify(response));
                var err = response.statusText;
                $('#wordError').html(err);
                $('#dictframe').attr('src', 'about:blank');
            }
        });
    });
</script>
}
